
.container {
    font-family: Calibri;
}

a#logout::before {
    background: red;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
}

    .card .icon-bar {
        border: none;
        outline: 0;
        padding: 12px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        direction: ltr;
    }

    .card #photo {
        margin: 0 auto;
    }

    .card .para {
        font-family: Calibri;
    }

#newGalleryBTN {
    float: left;
    outline-color: gray;
}

#photo img {
    width: 45%;
}

.container button {
    width: 40%;
    margin: 0 auto;
}

.fa-heart {
    color: deeppink;
}

#logo_top {
    width: 180px;
    height: 51px;
}

