
a#logout::before {
    background: red;
}

#logo_top {
    width: 180px;
    height: 51px;
}

div#logofront {
    padding-top: 6%;
}

.big-tagline {
    padding-top: 10%;
}

img {
    height: 120px;
}

#btn_search {
    background-color: red;
}
nav#nav1 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}
i.icon.fa {
    padding: 5px;
}
