
a#logout::before {
    background: red;
}

.sidebar-nav {
    text-align: right;
    font-family: Calibri;
    font-size: 30px;
}

.nav.navbar.navbar-expand.navbar-dark.bg-primary {
    background-color: #333333;
}

a#logout::before {
    background: red;
}
#nav1 {
   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

#nav_menu {
    position: fixed;
    top: 101px;
    width: 100%;
    z-index: 9998;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

button.navbar-toggler {
    background-color: white;
}

div#sidebar-wrapper {
    top: 159.5px;
    position: fixed;
}
.sidebar-nav {
    text-align: right;
    font-family: Calibri;
    font-size: 30px;
}

.nav.navbar.navbar-expand.navbar-dark.bg-primary {
    background-color: #333333;
}

.container {
    font-family: Calibri;
}

a#logout::before {
    background: red;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
}

    .card .icon-bar {
        border: none;
        outline: 0;
        padding: 12px;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        direction: ltr;
    }

    .card #photo {
        margin: 0 auto;
    }

    .card .para {
        font-family: Calibri;
    }

#logo_top {
    width: 180px;
    height: 51px;
}
#photo img {
    width: 45%;
    height: 35%;
}
.container-fluid {
    text-align: initial;
}

ul#loginperson {
    flex-direction: row-reverse;
    direction: ltr;
}

