
a#logout::before {
    background: red;
}
body {
    text-align: right;
}
.container {
    position: relative;
    top: 10em;
    font-family: Calibri;
}
.sidebar-nav {
   
    font-family: Calibri;
    font-size: 30px;
}

.nav.navbar.navbar-expand.navbar-dark.bg-primary {
    background-color: #333333;
}

#logo_top {
    width: 180px;
    height: 51px;
}

#nav1 { 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

#nav_menu {
    position: fixed;
    top: 101px;
    width: 100%;
    z-index: 9998;
    visibility: visible;
    transform: translate(0,0) scale(1);
    transition: .3s;
}

button.navbar-toggler {
    background-color: white;
}

div#sidebar-wrapper {
    top: 159.5px;
    position: fixed;
}
.container-fluid {
    text-align: initial;
}

ul#loginperson {
    flex-direction: row-reverse;
    direction: ltr;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: arial;
}
